<!-- mental_health_app/templates/mental_health_app/missionary_form.html -->
{% extends 'mental_health_app/base.html' %} 
{% block title %}Missionary Form{% endblock %} 
{% block content %}
{% load static %}

  <h2>Missionary Form</h2>
  <form method="post" action="{% url 'missionary_form' %}">
    {% csrf_token %}
 
    {{ form.name.label_tag }} {{ form.name }}
    <br>
    <!-- Replace slider with dropdown for mood -->
    <div class="mood-container">
      <label for="rating">Mood:</label>
      <select id="rating" name="rating">
        <option value="1">Very Depressed</option>
        <option value="2">Low</option>
        <option value="3">Moderate</option>
        <option value="4">Good</option>
        <option value="5">Excellent</option>
      </select>
    </div>

    {{ form.message.label_tag }} {{ form.message }}
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
