<!-- mental_health_app/templates/mental_health_app/resources.html -->
{% extends 'mental_health_app/base.html' %} 
{% block title %}Mental Health Resources{% endblock %}
{% load static %}
{% block content %}
<div class="container text-center">
    <h2>Mental Health Resources</h2>
    <p>
        We understand that dealing with mental health challenges can be difficult. You are not alone, and there is support available. The following resources are provided to help you navigate through these challenges and find the support you need.
    </p>

    <!-- Articles Section -->
    <section>
        <h3>General Conference Talks</h3>
        <a href="https://www.churchofjesuschrist.org/study/general-conference/2013/10/like-a-broken-vessel?lang=eng#p3">"Like a Broken Vessel"</a><br><br>
        <iframe src="https://www.youtube.com/embed/5p2qAvWU53g" frameborder="0" allowfullscreen></iframe><br><br><br>
        <a href="https://www.churchofjesuschrist.org/study/general-conference/2019/10/31aburto?lang=eng#p3">"Through Cloud and Sunshine, Lord, Abide With Me!"</a><br><br>
        <iframe src="https://www.youtube.com/embed/bpcQoqDgXkg" frameborder="0" allowfullscreen></iframe><br><br><br>
        <a href="https://www.churchofjesuschrist.org/media/video/2021-10-2050-erich-w-kopischke?lang=eng">"Addressing Mental Health"</a><br><br>
        <iframe src="https://www.youtube.com/embed/2uM5BlPhi6M" frameborder="0" allowfullscreen></iframe><br><br><br>
        <!-- Add more article links as needed -->
    </section>

    <!-- Videos Section -->
    <section>
        <h3>Videos</h3>
        <p>Watch these videos to gain perspective and understanding:</p>
        <a href="https://www.churchofjesuschrist.org/media/video/2018-10-0500-mental-health-you-are-not-alone-in-this?lang=eng">You Are Not Alone in This</a><br><br>
        <a href="https://www.churchofjesuschrist.org/media/video/2018-10-0400-mental-health-compassion-for-those-who-struggle?lang=eng">Compassion for Those Who Struggle</a><br><br>
        <a href="https://www.churchofjesuschrist.org/media/video/2016-10-0003-living-with-depression?lang=eng">Living with Depression</a><br><br>
        <!-- Add more video links as needed -->
        <p>Access the full church mental health videos by clicking <a href='https://www.churchofjesuschrist.org/media/collection/mental-health-topic?lang=eng'>here</a> .</p>
    </section>

    <!-- Add more sections as needed -->
    <section>
        <p>Access the full church mental health resources by clicking <a href='https://www.churchofjesuschrist.org/get-help/mental-health?lang=eng'>here</a> .</p>
    </section>

</div>
{% endblock %}
